@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --color-primario: #000000;
    --color-secundario: #f6f6f6;
    --color-terciario: #22d4fd;
    --color-cuartenario: #3f0101;
    --color-hover: #01323d;

    --fuente-montserrat:"Montserrat", sans-serif;
    --fuente-Krona: "Krona One", sans-serif;
}

*{
    padding: 0;
    margin:0;
}

.body{
    
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-image: url('../assets/bg2.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.body2{
  
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-image: url('../assets/bg4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body{
    
    box-sizing: border-box;
    margin: 0;
    height: 100vh;
    background-image: url('../assets/bg1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--color-secundario);
    background-attachment: fixed;
}

.header{

    padding: 2% 0;
    display: flex;
    justify-content: center;
    position: fixed; /* Fija el encabezado en la parte superior */
    top: 0;
    width: 100%;
    z-index: 500; /* Mantiene el encabezado encima del contenido */
    
}

.header__menu{
    display: flex;
    gap: 80px;

}

.header__menu__link{
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color-secundario);
    text-decoration: none;
    transition: opacity 0.5s ease-out;
    
}

.header__menu__link:hover{
    color: var(--color-terciario); 
    opacity: 0.3;
    
}


.presentacion {
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:82px ;
}

.presentacion__contenido{
    height: auto;
    width: 50%;
    display:flex;
    flex-direction: column;
    gap:40px;
}

.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--fuente-Krona);
}

.titulo-destaque{
    color: var(--color-terciario);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__enlaces {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items:center ;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-Krona);
    font-size: 1.5rem;
    font-weight: 400;

}

.presentacion__imagen {
   
    width: 50%; /* Ancho inicial de la imagen */
    transition: transform 0.3s ease; /* Transición suave */
    border-radius: 10px;
}

.presentacion__imagen:hover {
    transform: scale(1.05); /* Escala al 90% del tamaño original */
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7); /* Sombra brillante al pasar el mouse */
}


.imagem2 {
    
    width: 40% ; /* Ancho inicial de la imagen */
    transition: transform 0.3s ease; /* Transición suave */
    border-radius: 10px;
}

.imagem2:hover {
    transform: scale(1.05); /* Escala al 90% del tamaño original */
    box-shadow: 0 0 20px rgba(255, 60, 0, 0.7); /* Sombra brillante al pasar el mouse */
}

.imagem3 {
   
    width: 50%; /* Ancho inicial de la imagen */
    transition: transform 0.3s ease; /* Transición suave */
    border-radius: 10px;
}

.imagem3:hover {
    transform: scale(1.05); /* Escala al 90% del tamaño original */
    box-shadow: 0 0 20px rgba(0, 83, 0, 0.993); /* Sombra brillante al pasar el mouse */
}

.presentacion__enlaces__link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0;
    border-radius: 8px;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    color: var(--color-secundario);
    border: 2px solid var(--color-terciario);
    display: flex;
    justify-content: center;
    gap: 10px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
} 

.presentacion__enlaces__link:hover{
    cursor: pointer;
    background-color: var(--color-hover);
    box-shadow: 0 0 20px rgba(0, 123, 255, 0.7); /* Sombra brillante al pasar el mouse */
    transform: scale(1.05); 

}


.footer{
    background-color: var(--color-terciario);
    padding: 24px;
    color: var(--color-primario);
    text-align: center;
    font-family: var(--fuente-montserrat);
    font-size: 1.5rem;
    font-weight: 400;
    
    bottom: 0; /* Asegura que esté en la parte inferior */
    width: 100%; /* Ocupa todo el ancho de la página */
}

@media (max-width: 1200px ) {

    .header {
        width:auto;
        justify-content: center;
        padding: 6%;
    }


    .header__menu{
        justify-content: center;
    }

    .presentacion{
        flex-direction: column-reverse;
        padding: 15%;
    }

    .presentacion__contenido{
        width:auto;
    }
}
